* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  #igl3{
    padding:10px;
    text-align:center;
    color:#ffffff;
    font-family:Helvetica, sans-serif;
    line-height:14px;
    font-weight:600;
    background-color:rgba(0,49,85,0.97);
  }
  #textofinal{
    padding:10px;
    text-align:center;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    line-height:18px;
    font-weight:50px;
    background-color:rgba(0,4,5,.6);
  }
  .gjs-row{
    display:table;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    width:100%;
  }
  .gjs-cell{
    width:8%;
    display:table-cell;
    height:75px;
  }
  #ifvr{
    width:0;
    height:0;
  }
  #imagen1{
    color:black;
    width:222px;
    height:57px;
  }
  #imagen2{
      width:500px;
      height:200;
      margin:50px;
      float:right
  }
  #ihzq{
    height:420px;
    width:607px;
    margin:-350px 0 0 600px;
    float:none;
 }
  #i8sp{
    padding:10px;
    float:right;
    font-family:Helvetica;
    display:inline;
    position:static;
  }
  #ibid{
    padding:10px;
    float:right;
    font-family:Helvetica, sans-serif;
    display:inline;
    position:static;
  }
  #i1qzk{
    padding:10px;
    float:right;
    font-family:Helvetica, sans-serif;
    display:inline;
    position:static;
  }
  #ionyk{
    padding:10px;
    float:right;
    font-family:Helvetica, sans-serif;
    display:inline;
    position:static;
  }
  #i2o5k{
    padding:10px;
    float:right;
    font-family:Helvetica, sans-serif;
    display:inline;
    position:static;
  }
  #i16m7{
    padding:10px;
    float:right;
    font-family:Helvetica, sans-serif;
    display:inline;
    position:static;
  }
  .link{
    color:#000000;
    text-align:center;
    font-size:14px;
  }
  #itexg{
    float:right;
    max-width:550px;
    margin:-21px 0 0 0;
    background-color:rgba(31,89,132,0.97);
  }
  #texto1{
    padding:10px;
    margin:70px 0 0 66px;
    min-height:0;
    width:500px;
    font-family:Helvetica, sans-serif;
    font-size:22px;
    color:rgba(0,0,0,0.72);
  }
  #texto2{
    padding:10px;
    margin:-23px 0 0 54px;
    max-width:550px;
    font-family:Helvetica, sans-serif;
    font-weight:600;
    font-size:45px;
  }
  #texto3{
    padding:10px;
    font-family:Helvetica, sans-serif;
    font-size:14px;
    max-width:400px;
    margin:-11px 0 0 207px;
    color:rgba(0,0,0,0.74);
  }
  #texto4{
    padding:10px;
    font-family:Helvetica, sans-serif;
    margin:13px 0 0 56px;
    max-width:500px;
    font-weight:600;
    font-size:17px;
  }
  #texto5{
    padding:10px;
    max-width:500px;
    margin:-18px 0 0 56px;
    font-family:Helvetica, sans-serif;
    text-align:justify;
    font-size:17px;
    color:rgba(0,0,0,0.86);
  }
  #texto6{
    padding:10px 10px 10px 50px;
    margin:8px 0 0 0;
    font-family:Courier New, Courier, monospace;
    font-weight:600;
    font-size:19px;
    color: #270b41;
  }
  #fondol{
    height:100px;
    background-color:rgba(198,198,198,0.2);
  }
  #imagen3{
    width:1200px;
    height:200;
    margin:50px;
    float:none;
}
  @media (max-width: 768px){
    .gjs-cell{
      width:100%;
      display:block;
    }
  }
